.container-breadcrumbs {
    @include media-breakpoint-down(md) {
        display: none;
    }

    position: relative;
    z-index: 2;
    margin-bottom: 20px;

    .nav-breadcrumbs {
        .btn-back {
            float: left;
            padding: 0.25rem 0.5rem;
            font-size: 1rem;
            border-radius: $border-radius-sm;
            text-decoration: none;
            font-size: 0.75em;
            margin: 0.6rem 0;
            border-color: rgba(0, 0, 0, 0.15);

            &:hover {
                border-color: $body-color;
                text-decoration: none;
            }
        }

        .breadcrumb {
            .breadcrumb-item {
                font-size: 0.75em;

                a {
                    color: $body-color;
                    line-height: 1.15rem;
                    vertical-align: middle;
                }

                &:first-child {
                    a {
                        font-size: 1rem;
                    }
                }
            }

            .breadcrumb-item + .breadcrumb-item::before {
                font-family: Line Awesome Free;
                font-weight: 900;
                font-size: 1.15em;
                line-height: 1.15rem;
                vertical-align: middle;
            }
        }
    }
}
