.wpcf7 {
    input[type="email"],
    input[type="number"],
    input[type="text"],
    input[type="email"],
    textarea {
        @extend .form-control;
        border: none;
        border-bottom: 1px solid $secondary;
    }

    form {
        .wpcf7-response-output {
            @extend .alert;
        }

        &.init .wpcf7-response-output {
            display: none;
        }

        &.sent .wpcf7-response-output {
            @extend .alert-success;
        }

        &.failed .wpcf7-response-output,
        &.aborted .wpcf7-response-output {
            @extend .alert-danger;
        }

        &.spam .wpcf7-response-output {
            @extend .alert-warning;
        }

        &.invalid .wpcf7-response-output,
        &.unaccepted .wpcf7-response-output {
            @extend .alert-warning;
        }

        .wpcf7-submit {
            @extend .btn;
            @extend .btn-primary;
        }
    }

    .wpcf7-not-valid-tip {
        color: #dc3232;
        font-size: 1em;
        font-weight: normal;
        display: block;
    }
}
