body {
  background-color: #292929; }
  body #login {
    max-width: 500px;
    width: auto;
    padding: 8% 20px 0;
    margin: auto; }
    body #login #loginform {
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.9); }
      body #login #loginform input[type="text"] {
        font-size: 18px; }
      body #login #loginform .submit .button-primary {
        background: #e30613;
        border-color: #e30613; }
        body #login #loginform .submit .button-primary:hover {
          background: #d11214;
          border-color: #d11214; }
    body #login #nav a,
    body #login #backtoblog a {
      color: #fff; }
    body #login .privacy-policy-page-link a {
      color: #666; }
