/* CSS Document */
.theme-settings .submit, .theme-settings .btn-primary {
    background: #e30613;
    border-color: #e30613;
}
.theme-settings .submit:hover, .theme-settings .btn-primary:hover {
    background: #d11214;
    border-color: #d11214;
}
.theme-settings a {
    color: #e30613;
}
.theme-settings a:hover {
    color: #d11214;
}