@mixin gradient($from, $to, $angle: 135deg) {
	background-color: $from;
	background-image: -moz-linear-gradient($angle, $from, $to);
	background-image: -webkit-linear-gradient($angle, $from, $to);
	background: linear-gradient($angle, $from, $to);
	background-image: -o-linear-gradient($angle, $from, $to);
}

@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	margin: $body-margin;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex-shrink: 0;
	padding-top: $headerheight;

	@include media-breakpoint-up(lg) {
		padding-top: $headerheight-lg;
	}
}

.container {
	padding-left: $container-padding;
	padding-right: $container-padding;

	@include media-breakpoint-up(sm) {
		padding-left: $container-padding-sm;
		padding-right: $container-padding-sm;
	}

	@include media-breakpoint-down(lg) {
		max-width: 100%;
	}
}

section,
.section {
	padding: $paddingsmall 0;

	@include media-breakpoint-up(md) {
		padding: $paddingdefault 0;
	}

	&.has-background-dim {
		background-size: cover;
		background-position: center center;
	}

	&.paddingsmall {
		padding: $paddingsmall 0;
	}
	&.paddinglarge {
		padding: $paddingdefault 0;
		@include media-breakpoint-up(md) {
			padding: $paddinglarge 0;
		}
	}
	&.paddingxtralarge {
		padding: $paddinglarge 0;
		@include media-breakpoint-up(md) {
			padding: $paddingxtralarge 0;
		}
	}
}

.text-2-column {
	@include media-breakpoint-up(md) {
		column-count: 2;
		column-gap: $grid-gutter-width;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;
	}
}

.bg-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&.bg-image-dark {
		position: relative;

		&:after {
			content: "";
			background-color: #000;
			opacity: 0.5;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&.bg-fixed {
		background-attachment: fixed;
	}
}

.noscroll {
	overflow: hidden;
}

.zoomonhover {
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 0px;
	display: block;

	&:hover {
		img {
			-webkit-transform: scale(1.25);
			transform: scale(1.25);
		}
	}

	img {
		width: 100%;
		-webkit-transition: 0.3s all;
		transition: 0.3s all;
	}
}

.scrollToTop {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 50px;
	height: 50px;
	background: rgba($pink, 0.8);
	z-index: 99999;
	border-radius: 25px;
	color: $white;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	padding: 10px;
}

.p-15 {
	padding: 15px !important;
}
.p-20 {
	padding: 20px !important;
}
.p-25 {
	padding: 25px !important;
}
.p-30 {
	padding: 30px !important;
}
.p-45 {
	padding: 45px !important;
}

.gradient-pink-purple {
	@include gradient($primary, $purple);
}
.gradient-purple-cyan {
	@include gradient($purple, $cyan);
}

.gradient-pink-cyan {
	@include gradient($primary, $cyan);
}

.gradient-pink-darkblue {
	@include gradient($primary, #090446);
}

.row-with-backgroundimage {
	@extend .no-gutters;

	.bg-image {
		min-height: 45vh;
		background-size: cover;
		background-position: center;

		@include media-breakpoint-up(lg) {
			&.radius-tl {
				border-top-left-radius: $border-radius-lg;
			}
			&.radius-tr {
				border-top-right-radius: $border-radius-lg;
			}
			&.radius-bl {
				border-bottom-left-radius: $border-radius-lg;
			}
			&.radius-br {
				border-bottom-right-radius: $border-radius-lg;
			}
		}
	}

	.text-block-left,
	.text-block-right {
		padding: $container-padding;
		@include media-breakpoint-up(lg) {
			padding: $container-padding-sm;
			$maxwith: map-get($container-max-widths, xl) / 2;
			max-width: $maxwith;
		}
	}

	.text-block-left {
		@include media-breakpoint-up(lg) {
			padding: 0 3rem 0 $container-padding-sm;
			margin-left: auto;
		}
	}
	.text-block-right {
		@include media-breakpoint-up(lg) {
			padding: 0 $container-padding-sm 0 3rem;
			margin-right: auto;
		}
	}
}
