.headerimage {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &.headerimage-homepage {
    padding-top: 85px;
    padding-bottom: 10%;

    @include media-breakpoint-up(md) {
      padding-top: 170px;
    }


    &:after {
      content: "";
      width: 100vw;
      padding-top: 48%;
      background-image: url($imagepath + "header-bottom.svg");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
    }
  }
}

.alert {
  margin: 0;
}


.card {
  &.werk {
    h2 {
      font-size: 1.38rem;
    }
  }
  &.card-dienst {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    transition: all 0.4s;

    &:hover {
      scale: 1.1;
    }

    .wp-block-group__inner-container {
      padding: 1.45rem;
      height: 100%;
      display: flex;
      flex-direction: column;

      h2 {
        color: $purple;
      }

      .wp-block-buttons {
        margin-top: auto;
      }
    }
  }
}

.profiel-section {
  padding-bottom: 0;
  background-image: none;
  background-color: #e5e5e5;

  @include media-breakpoint-up(lg) {
    padding-bottom: $paddingdefault;
    background-image: url($uploadpath + 'Roger-profielfoto.png');
    background-size: contain; 
    background-position: center right -100px; 
    background-repeat: no-repeat; 
  }

  @include media-breakpoint-up(xl) {
    background-size: 61vw; 
  }


}